.button{
    -fx-border-radius: 5px;
    -fx-border-color: whitesmoke;
    -fx-text-fill: whitesmoke;
}

.login-label
{
    -fx-text-fill: whitesmoke;
}

.root
{
    -fx-background-color: #333333;
}

.text-field
{
    -fx-text-fill: white;
}

